<style>
  .message-content {
    font-family: sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Sua conta foi criada no API Vendas seus dados estão logo abaixo!</p>
  <br />
  <p>Usuario: {{ user }}</p>
  <p>Email: {{ email }}</p>
  <p>Password: {{ password }}</p>
  <br />
  <p>Obrigado!</p>
  <p>Equipe API Vendas</p>
</div>
